<a href="https://colab.research.google.com/github/JefNtungila/Geoproject/blob/master/Mapping_Hostels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [196]:
pip install yandex-geocoder

Requirement already satisfied: yandex-geocoder in /usr/local/lib/python3.6/dist-packages (1.0.0)
Requirement already satisfied: requests~=2.20 in /usr/local/lib/python3.6/dist-packages (from yandex-geocoder) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests~=2.20->yandex-geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests~=2.20->yandex-geocoder) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests~=2.20->yandex-geocoder) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests~=2.20->yandex-geocoder) (3.0.4)

In [0]:
import pandas as pd
from yandex_geocoder import Client
import numpy as np

In [0]:
hostel_data = pd.read_excel('https://github.com/JefNtungila/Geoproject/blob/master/Data%20visualisation.xlsx?raw=true')

In [199]:
hostel_data.head(1)

  Unnamed: 0  ...                                            Address
0        NaN  ...  ตำบล หัวรอ อำเภอ พระนครศรีอยุธยา พระนครศรีอยุธ...

[1 rows x 9 columns]

In [200]:
hostel_data.columns.values

array(['Unnamed: 0', 'Unnamed: 1', 'City', 'Hostel Name', 'Email',
       'Facebook', 'Instagram', 'Number', 'Address'], dtype=object)

In [201]:
hostel_data = hostel_data.drop(['Unnamed: 0','Unnamed: 1'], axis = 1)
hostel_data.head(1)

        City  ...                                            Address
0  Ayutthaya  ...  ตำบล หัวรอ อำเภอ พระนครศรีอยุธยา พระนครศรีอยุธ...

[1 rows x 7 columns]

In [0]:
x = hostel_data['Address'].tolist()
x;

In [208]:
%%time 

coord_list = []

for item in x:
  try:
    a = Client.coordinates(item)
    coord_list.append(a)
  except:
    coord_list.append('Coord NA')

coord_list

CPU times: user 36.3 s, sys: 2.89 s, total: 39.2 s
Wall time: 40min 49s

In [0]:
coord_list;

In [0]:
dic =	{
  'Coord NA': (np.NaN,np.NaN)}

updated_coord_list= [ dic.get(item,item) for item in coord_list] 
updated_coord_list;

In [0]:
hostel_data[['Latitude','Longitude']] = pd.DataFrame(updated_coord_list)

In [0]:
hostel_data.tail(50)